@import "variables";

/* MEDIA QUERY M */

@media (min-width: 768px) {
  .about-info-list {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .about-img-container {
    margin: auto;
  }

  .about-img-container .about-img-inner:hover {
    transform: translate3d(15px, -20px, 0);
  }

  .cards-inner {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }

  .portfolio-inner {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }

  .footer-section .footer-container .footer-sm {
    width: 500px;
  }
}

/* MEDIA QUERY XL */

@media (min-width: 1024px) {
  .inner-nav {
    background-color: transparent;
  }

  .inner-nav .header-logo {
    margin-left: 5rem;
  }

  .btn-container {
    display: none;
  }

  .nav-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
    height: 5rem;
    position: static;
    transform: translate(0, 0);
    opacity: 1;
    width: 100%;
  }

  .menu-desktop {
    width: 50rem;
    height: 5rem;
    flex-direction: row;
    justify-content: space-around;
    background: transparent;
  }

  .nav-container .menu-desktop li {
    width: 20%;
    border: none;
  }

  .nav-container .menu-desktop li:hover {
    background: transparent;
  }

  .nav-container .menu-desktop a {
    font-size: $size16px;
    font-weight: 700;
    color: $light-color;
    border: none;
  }

  .nav-container .menu-desktop a:hover {
    color: $theme-color !important;
  }

  .about-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .about-img-container {
    margin: auto;
  }

  .about-img-container .about-img-inner:hover {
    transform: translate3d(15px, -20px, 0);
  }

  .cards-inner {
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
    }
  }

  .contact-section .contact-container p {
    text-align: center;
  }

  .contact-form-container {
    max-width: 760px;
    margin: auto;
  }
}
