/* Colors */
$dark-color: #1b1717;
$theme-color: #e1701a;
$light-color: #eeebdd;
$white: #fff;

/* Font-size */
$size35px: 3.5rem;
$size30px: 3rem;
$size20px: 2rem;
$size18px: 1.8rem;
$size16px: 1.6rem;
